<section>
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
      <label class="sr-only" for="room-id">Código da Sala</label>
      <input name="roomId" type="number" id="room-id" placeholder="Código da Sala">
      <button>
        <img src="/images/enter-room.svg" alt="Imagem do botão enter room">
        Entrar na Sala
      </button>            
    </form>         
  </section>

  <div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
  </div>

  <section>
    <h2>Crie sua própria sala de forma fácil</h2>
    <a href="/create-pass" class="button outlined">
      <img src="/images/users.svg" alt="Imagem do botão criar sala"> 
      Criar Sala
    </a>
  </section>